{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>donFood.</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{%static 'productos/css/style.css'%}">
</head>

<body class="login">
    <header class="sticky">
        <a href="#" class="logo">donFood<span>.</span></a>
        <div class="menuToggle" onclick="toggleMenu();"></div>
        <ul class="navigation">
            <li><a href="{% url 'home'%}#banner" onclick="toggleMenu();">Inicio</a></li>
            <li><a href="{% url 'home'%}#about" onclick="toggleMenu();">Acerca de Nosotros</a></li>
            <li><a href="{% url 'carta'%}" onclick="toggleMenu();">Menu</a></li>
            <li><a href="{% url 'home'%}#expert" onclick="toggleMenu();">Expertos</a></li>
            <li><a href="{% url 'home'%}#testimonials" onclick="toggleMenu();">Testimonios</a></li>
            <li><a href="{% url 'home'%}#contact" onclick="toggleMenu();">Contacto</a></li>
            <li><a href="{% url 'administrar' %}" onclick="toggleMenu();">Administrar</a></li>
        </ul>
    </header>
    <section class="inicioSesion" id="inicioSesion">
        <div class="container">
            <div class="header">
                <h2><span>I</span>nicio Sesión</h2>
            </div>
            <form id="form" class="form">
                <div class="form-control">
                    <label for="username">Usuario</label>
                    <input type="text" placeholder="Usuario" id="username" autocomplete="off" />
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for="username">Contraseña</label>
                    <input type="password" placeholder="Contraseña" id="password" />
                    <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
                <button class="btn">Iniciar Sesión</button>
                <a href="{% url 'formRegistro'%}" class="linkRegistro">Registrate aqui</a>
            </form>
        </div>

        <!-- SOCIAL PANEL HTML -->
        <div class="social-panel-container">
            <div class="social-panel">
                <button class="close-btn"><i class="fas fa-times"></i></button>
                <h4>Redes sociales</h4>
                <ul>
                    <li>
                        <a href="https://facebook.com/" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <button class="floating-btn">
            Redes sociales
        </button>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'productos/js/main.js' %}"></script>
</body>

</html>